<h1><%= t('pages.Teams.forms.editing team') %></h1>

<%= render "form", team: @team %>

<br>

<div>
  <%= link_to t('pages.Teams.buttons.show team'), @team %> |
  <%= link_to t('pages.Teams.buttons.back to teams'), teams_path %>
</div>
