<h1><%= t('pages.Employees.forms.editing employee') %></h1>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to t('pages.Employees.buttons.show employee'), @employee %> |
  <%= link_to t('pages.Employees.buttons.back to employees'), employees_path %>
</div>
