<h1><%= t('pages.Divisions.forms.editing division') %></h1>

<%= render "form", division: @division %>

<br>

<div>
  <%= link_to t('pages.Divisions.buttons.show division'), @division %> |
  <%= link_to t('pages.Divisions.buttons.back to divisions'), divisions_path %>
</div>
