

<div class="container">
<h1 class="text-center mt-5">HR employee administration system</h1>

<div class="row mt-5">

    <div class="col-4">

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <a class="card-block stretched-link text-decoration-none text-white" href="/users">
            <% link_to "Users", "/users" %>
            <div class="card-header">Users</div>
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">here is all the data of Users</p>
            </div>
        </a>
          </div>
          

    </div>

    <div class="col-4">

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <a class="card-block stretched-link text-decoration-none text-white" href="/employees">
            <% link_to "Employees", "/employees" %>
            <div class="card-header">Emplyees</div>
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">here is all the data of Emplyees</p>
            </div>
        </a>
          </div>

    </div>

    <div class="col-4">

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <a class="card-block stretched-link text-decoration-none text-white" href="/teams">
            <% link_to "Teams", "/teams" %>
            <div class="card-header">Teams</div>
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">here is all the data of Teams</p>
            </div>
        </a>
          </div>

    </div>

    <div class="col-4">

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <a class="card-block stretched-link text-decoration-none text-white" href="divisions">
            <% link_to "Divisions", "/divisions" %>
            <div class="card-header">Divisions</div>
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">here is all the data of Divisions</p>
            </div>
        </a>
          </div>

    </div>

    <div class="col-4">

        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <a class="card-block stretched-link text-decoration-none text-white" href="/targets">
            <% link_to "Targets", "/targets" %>
            <div class="card-header">Targets</div>
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">here is all the data of Targets</p>
            </div>
        </a>
          </div>

    </div>

</div>


</div>

