 <footer id="sticky-footer" class="flex-shrink-0 py-3 bg-light text-black">
    <div class="container text-center">
      <small>Copyright &copy; - Sprints - author: ohoud , e-mail: oalyahyawi@mrsool.co</small>
    </div>
  </footer>